:root {
  --primary-50: 236 253 245;
  --primary-100: 209 250 229;
  --primary-200: 130 130 130;
  --primary-300: 110 231 183;
  --primary-400: 52 211 153;
  --primary-500: 16 185 129;
  --primary-600: 5 150 105;
  --primary-700: 4 120 87;
  --primary-800: 6 95 70;
  --primary-900: 4 78 56;
  --primary-950: 2 44 34;
  --surface-0: 190 190 190;
  --surface-50: 190 190 190;
  --surface-100: 190 190 190;
  --surface-200: 190 190 190;
  --surface-300: 190 190 190;
  --surface-400: 190 190 190;
  --surface-500: 190 190 190;
  --surface-600: 170 170 170;
  --surface-700: 150 150 150;
  --surface-800: 130 130 130;
  --surface-950: 105 105 105;
}
